<!DOCTYPE html>

<!--
Project name(项目名称)：Element_UI_Timeline
  File name(文件名): test1
  Authors(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/5/7
  Time(创建时间)： 20:56
  Description(描述)： 无
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/element-ui.css">
    <script src="js/vue.js"></script>
    <script src="js/element-ui.js"></script>
    <style>

    </style>
</head>
<body>

<div id="app">

    <div class="radio">
        <el-radio-group v-model="reverse">
            <el-radio-button :label="true">倒序</el-radio-button>
            <el-radio-button :label="false">正序</el-radio-button>
        </el-radio-group>
    </div>

    <br>
    <br>

    <el-timeline :reverse="reverse">
        <el-timeline-item v-for="(item,index) in data" :key="index" :timestamp="item.timestamp">
            {{item.content}}
        </el-timeline-item>
    </el-timeline>

</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            reverse: true,
            data:
                [
                    {
                        content: "第一次提交",
                        timestamp: "2022-5-17"
                    },
                    {
                        content: "第二次提交",
                        timestamp: "2022-5-18"
                    },
                    {
                        content: "第三次提交",
                        timestamp: "2022-5-20"
                    },
                    {
                        content: "第四次提交",
                        timestamp: "2022-5-23"
                    },
                ]
        },
        methods: {},
        mounted()
        {

        }
    })
</script>
</body>
</html>